# Descarga de datos

## URL de las distintas fuentes de datos

**PRODUCCIÓN ANUAL AGRÍCOLA**
- https://nube.siap.gob.mx/cierreagricola/

**PRODUCCIÓN MENSUAL AGRÍCOLA**
- https://nube.siap.gob.mx/avance_agricola/
- http://infosiap.siap.gob.mx:8080/agricola_siap_gobmx/ResumenProducto.do

**INTENCION DE SIEMBRA**
- https://nube.siap.gob.mx/agroprograma/

**SISTEMA DE INFORMACIÓN AGROALIMENTARIA DE CONSULTA**
- http://infosiap.siap.gob.mx/gobmx/datosAbiertos_a.php

**ESTADÍSTICA DE USO TECNOLÓGICO Y DE SERVICIOS EN LA SUPERFICIE AGRÍCOLA**
- Fertilizada: https://nube.siap.gob.mx/index.php/s/kTLGLipCBEBiEFM/download
- Semilla mejorada y semilla criolla: https://nube.siap.gob.mx/index.php/s/OjKcZZL8QClaK6U/download
- Mecanizada: https://nube.siap.gob.mx/index.php/s/P7yK8NWmppStv7i/download
- Riego: https://nube.siap.gob.mx/index.php/s/cz6nETNW4b0krzD/download
- Sanidad: https://nube.siap.gob.mx/index.php/s/0l0Vw6VUf8fQ0dI/download
- Asistencia técnica: https://nube.siap.gob.mx/index.php/s/EHaUuYSEnHqHLqA/download

**INFORMACIÓN AGRÍCOLA DE GÉNERO**
- 2015 - 2017: https://www.gob.mx/cms/uploads/attachment/file/399835/Estadistica_de_G_nero_2017.pdf
- 2016 - 2018: https://www.gob.mx/cms/uploads/attachment/file/515428/Participaci_n_de_mujeres_en_valor_2016_17_18.pdf
- 2017 - 2019: https://www.gob.mx/cms/uploads/attachment/file/630415/Estadistica_de_Genero_2019.pdf

**MONOGRAFÍAS DE CULTIVOS**
- https://www.gob.mx/siap/documentos/monografias

## Librerias

In [1]:
# !pip install lxml
# !pip install pandas

In [2]:
import os
import pandas as pd
from bs4 import BeautifulSoup
import pandas as pd
import warnings
import requests

## Catalogos para API: JSON de Victor

Nota: sí vienen los 64 cultivos que aparecen en la página

In [3]:
if not os.path.exists('catalogos_api'):
    os.mkdir("catalogos_api")

df = pd.read_json('Victor-dict.json',orient='index')

tag = ["municipio","anioagric","cicloProd","modalidad","entidad","cultivo","distrito"]
name_csv = ['Municipio','Anio_Agricola','Ciclo_Prod','Modalidad','Entidad','Cultivo','Distrito']

for i in range(7):
    # Toma los datos pertenecientes al tag
    df_aux2 = df.loc[df.index.str.startswith(tag[i])]
    df_aux = df_aux2.copy()
    # Elimina la str del tag+_ de la columna index
    df_aux.index = df_aux.index.str.replace(tag[i]+'_', "")
    # Convierte el indice en columna
    df_aux.reset_index(inplace=True)
    # Cambia los nombres de las columnas
    df_aux.rename(columns={0: "ID","index":"Name"}, inplace=True)
    # Crea el path donde se guardara
    ruta_completa = os.path.join("catalogos_api",name_csv[i])
    # Guardar el DataFrame en el archivo CSV en la carpeta "catalogos_api"
    df_aux.to_csv(ruta_completa + '.csv', index=False)

#Elimina los df
del df_aux, df_aux2

In [4]:
# df = pd.read_csv('./catalogos_api/anioagric.csv', index_col=False)

## Filtrar Municipios de Sonora

In [5]:
# Define el enlace compartido del archivo en Google Drive
url = 'https://sistemadatos.sonora.gob.mx/OpenDataFiles/1573/2023050512492324-file.xlsx'

nombre_archivo = "catalogos.xlsx"  # Puedes ajustar el nombre según tu preferencia

# Realiza la solicitud GET para descargar el archivo
response = requests.get(url)

# Verifica si la descarga fue exitosa (código de respuesta 200)
if response.status_code == 200:
    # Abre un archivo local y guarda el contenido descargado
    with open(nombre_archivo, 'wb') as file:
        file.write(response.content)
    print(f"El archivo '{nombre_archivo}' se ha descargado correctamente.")
else:
    print("Error al descargar el archivo.")

El archivo 'catalogos.xlsx' se ha descargado correctamente.

In [11]:
df = pd.read_excel('./catalogos.xlsx',sheet_name='Municipios')
df = df[['MUNICIPIOS','MUNI']]
df['Municipios'] = df['MUNICIPIOS'].str.lower()
df

                       MUNICIPIOS  MUNI                     Municipios
0   GENERAL PLUTARCO ELÍAS CALLES    70  general plutarco elías calles
1                           ALTAR     4                          altar
2                         CANANEA    19                        cananea
3                         CABORCA    17                        caborca
4                            ATIL     7                           atil
..                            ...   ...                            ...
67                       QUIRIEGO    49                       quiriego
68                       ETCHOJOA    26                       etchojoa
69                        NAVOJOA    42                        navojoa
70                     HUATABAMPO    33                     huatabampo
71                         ALAMOS     3                         alamos

[72 rows x 3 columns]

In [12]:
df2 = pd.read_csv('./catalogos_api/Municipio.csv')
df2['Name_min'] = df2['Name'].str.lower()
df2

                       Name  ID               Name_min
0                     Todos   0                  todos
1            Aguascalientes   1         aguascalientes
2                  Asientos   2               asientos
3                  Calvillo   3               calvillo
4                     Cosío   4                  cosío
...                     ...  ..                    ...
2322           Villa de Cos  51           villa de cos
2323           Villa García  52           villa garcía
2324  Villa González Ortega  53  villa gonzález ortega
2325             Villanueva  55             villanueva
2326              Zacatecas  56              zacatecas

[2327 rows x 3 columns]

In [13]:
# Filtra las filas de df2 que coinciden con los municipios de df
df_filtrado = df2[df2['Name_min'].isin(df['Municipios'])]

In [14]:
df_filtrado

                 Name  ID         Name_min
167             Rayón  50            rayón
254           Rosario  51          rosario
268     Benito Juárez   4    benito juárez
573         Magdalena  98        magdalena
630     Villa Hidalgo  54    villa hidalgo
...               ...  ..              ...
1878       Trincheras  64       trincheras
1879         Tubutama  65         tubutama
1880             Ures  66             ures
1881  Villa Pesqueira  68  villa pesqueira
1882           Yécora  69           yécora

[68 rows x 3 columns]

In [32]:
df2[df2['ID'] == 26]

                            Name  ID                    Name_min
107                     Chenalhó  26                    chenalhó
229                 Gran Morelos  26                gran morelos
304                    San Dimas  26                   san dimas
338                       Romita  26                      romita
387        Cuetzala del Progreso  26       cuetzala del progreso
462                   Huazalingo  26                  huazalingo
545   Concepción de Buenos Aires  26  concepción de buenos aires
660                Chapa de Mota  26               chapa de mota
775                   Chinicuila  26                  chinicuila
888                   Tlayacapan  26                  tlayacapan
971       Chalcatongo de Hidalgo  26      chalcatongo de hidalgo
1546                      Calpan  26                      calpan
1774                 San Antonio  26                 san antonio
1843                    Etchojoa  26                    etchojoa
1914                  Miquihuana  26                  miquihuana
1964         Santa Cruz Tlaxcala  26         santa cruz tlaxcala
2000                  Banderilla  26                  banderilla
2198                      Dzemul  26                      dzemul
2298                     Mazapil  26                     mazapil

## Datos mensuales

In [14]:
# Creacion del folder raw
if not os.path.exists('raw'):
    os.mkdir("raw")

In [17]:
# Comando para ignorar warnings (salen en cada request)
warnings.filterwarnings('ignore')

In [48]:
anio = pd.read_csv('./catalogos_api/Anio_Agricola.csv').ID.to_list()
ciclo_prod = pd.read_csv('./catalogos_api/Ciclo_Prod.csv').ID.to_list()
cultivo = pd.read_csv('./catalogos_api/Cultivo.csv').ID.to_list()
distrito = pd.read_csv('./catalogos_api/Distrito.csv').ID.to_list()
entidad = 26 # Sonora: 26
modalidad = pd.read_csv('./catalogos_api/Modalidad.csv').ID.to_list()
municipio = pd.read_csv('./catalogos_api/Municipio.csv').ID.to_list()

In [49]:
cultivo.remove(0)
distrito.remove(0)
municipio.remove(0)

In [50]:
print(anio)
print(ciclo_prod)
print(cultivo)
print(distrito)
print(entidad)
print(modalidad)
print(municipio)

[2023, 2022, 2021, 2020, 2019, 2018]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 15, 17, 27, 36, 42, 43, 53, 57, 60, 61, 63, 70, 74, 77, 78, 89, 105, 110, 112, 122, 128, 132, 149, 150, 152, 159, 163, 168, 175, 206, 212, 222, 224, 225, 230, 234, 241, 259, 268, 272, 283, 285, 289, 290, 296, 304, 320, 326, 373, 374, 375, 379, 389, 390, 392, 395, 400, 401, 416, 420]
[1, 2, 3, 5, 6, 7, 4, 9, 10, 11, 8, 12, 14, 192, 13, 15, 16, 17, 20, 24, 23, 22, 19, 27, 25, 26, 18, 21, 36, 38, 29, 28, 35, 33, 40, 30, 32, 34, 39, 41, 37, 31, -1, 42, 43, 44, 45, 191, 47, 46, 51, 52, 48, 50, 49, 55, 53, 56, 58, 54, 57, 59, 64, 63, 62, 61, 60, 67, 71, 72, 69, 70, 66, 68, 65, 77, 78, 80, 76, 75, 73, 79, 74, 82, 85, 81, 84, 92, 89, 83, 91, 90, 88, 86, 87, 93, 94, 98, 97, 96, 95, 99, 100, 101, 103, 102, 109, 106, 104, 107, 108, 110, 105, 115, 111, 116, 114, 117, 118, 113, 112, 120, 119, 122, 121, 125, 123, 124, 130, 131, 132, 128, 129, 127, 126, 136, 135, 134, 137, 133, 138, 141, 139, 148, 147, 144, 140, 145, 143, 149, 146, 193, 142, 151, 153, 154, 152, 150, 159, 157, 156, 163, 161, 155, 162, 158, 160, 165, 166, 164, 177, 174, 170, 171, 167, 176, 172, 169, 178, 175, 168, 173, 179, 180, 181, 182, 188, 183, 190, 187, 185, 184, 186, 189]
26
[1, 2, 3]
[1, 2, 3, 4, 10, 48, 6, 7, 11, 8, 9, 1, 2, 5, 65, 6, 3, 4, 1, 70, 24, 8, 2, 10, 1, 2, 11, 3, 4, 13, 9, 5, 6, 7, 12, 8, 1, 2, 4, 10, 5, 6, 7, 8, 23, 10, 11, 14, 16, 18, 31, 16, 22, 18, 32, 20, 21, 22, 29, 24, 25, 59, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 199, 1, 2, 3, 4, 8, 6, 7, 108, 9, 10, 1, 2, 3, 2, 4, 5, 6, 7, 8, 9, 10, 11, 114, 12, 13, 15, 120, 16, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 17, 18, 19, 21, 14, 122, 70, 65, 32, 33, 34, 35, 125, 37, 39, 38, 40, 42, 43, 44, 45, 46, 47, 20, 36, 41, 50, 99, 49, 52, 75, 51, 115, 116, 53, 37, 55, 124, 56, 117, 57, 58, 59, 105, 61, 62, 63, 64, 65, 66, 111, 68, 69, 72, 50, 74, 121, 76, 77, 118, 78, 35, 112, 77, 119, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 101, 98, 100, 102, 101, 103, 104, 105, 194, 71, 107, 108, 109, 111, 1, 4, 5, 6, 7, 8, 9, 10, 7, 12, 13, 19, 20, 14, 15, 18, 21, 22, 64, 17, 11, 26, 27, 17, 29, 30, 32, 33, 34, 35, 38, 16, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 52, 53, 54, 55, 51, 57, 58, 59, 60, 24, 61, 62, 63, 65, 66, 67, 3, 2, 4, 3, 4, 5, 6, 7, 8, 16, 9, 11, 12, 13, 1, 2, 3, 4, 5, 64, 6, 7, 67, 9, 11, 12, 13, 14, 15, 16, 39, 19, 20, 21, 22, 24, 24, 25, 26, 27, 16, 29, 30, 31, 32, 33, 34, 35, 36, 37, 195, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 8, 21, 23, 25, 26, 27, 28, 29, 31, 32, 33, 3, 31, 35, 36, 37, 38, 39, 174, 41, 42, 41, 42, 45, 46, 1, 76, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 28, 29, 16, 78, 24, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 75, 30, 31, 32, 33, 34, 35, 36, 81, 37, 79, 39, 80, 68, 40, 41, 77, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 75, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 38, 73, 74, 2, 2, 4, 4, 5, 6, 7, 8, 10, 11, 13, 12, 14, 15, 17, 18, 19, 16, 9, 61, 22, 24, 25, 26, 72, 28, 29, 30, 31, 32, 33, 40, 34, 54, 37, 51, 38, 39, 41, 42, 43, 44, 45, 48, 47, 49, 50, 36, 52, 53, 46, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 66, 78, 79, 80, 81, 82, 83, 84, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 21, 15, 16, 17, 19, 20, 117, 21, 30, 31, 32, 22, 25, 26, 27, 6, 29, 33, 34, 37, 54, 70, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 52, 18, 43, 57, 53, 98, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 71, 72, 113, 125, 73, 7, 74, 76, 77, 78, 98, 80, 81, 14, 82, 83, 84, 85, 86, 87, 89, 88, 90, 91, 92, 93, 168, 95, 96, 97, 18, 186, 102, 103, 104, 105, 106, 107, 189, 109, 110, 111, 112, 114, 113, 54, 68, 118, 119, 120, 121, 122, 123, 23, 124, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 25, 26, 27, 47, 29, 30, 31, 20, 21, 22, 37, 24, 121, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 93, 46, 47, 48, 49, 50, 51, 123, 52, 27, 55, 57, 59, 58, 60, 61, 62, 63, 65, 66, 67, 68, 69, 71, 73, 74, 124, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 27, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 125, 107, 108, 109, 110, 122, 111, 112, 114, 43, 115, 116, 198, 118, 119, 120, 1, 2, 4, 5, 6, 7, 18, 9, 11, 12, 13, 21, 22, 23, 24, 25, 26, 27, 28, 29, 14, 15, 16, 74, 17, 18, 19, 20, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 45, 113, 47, 35, 69, 19, 47, 137, 49, 50, 51, 53, 55, 56, 57, 58, 59, 60, 62, 63, 65, 64, 66, 67, 68, 70, 71, 72, 73, 76, 79, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100, 101, 102, 104, 105, 106, 107, 108, 109, 110, 111, 112, 1, 2, 3, 4, 34, 5, 7, 75, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 33, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 195, 29, 30, 31, 1, 6, 3, 20, 4, 9, 5, 6, 7, 19, 10, 11, 12, 13, 15, 16, 17, 8, 2, 5, 6, 7, 6, 9, 11, 13, 12, 14, 15, 16, 10, 18, 20, 21, 22, 23, 24, 25, 28, 29, 30, 32, 33, 3, 27, 42, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 19, 49, 50, 51, 1, 2, 174, 3, 4, 5, 6, 7, 8, 398, 9, 11, 12, 247, 25, 26, 27, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 10, 30, 29, 32, 34, 33, 35, 36, 549, 28, 39, 43, 397, 40, 41, 65, 42, 17, 69, 76, 556, 44, 45, 46, 48, 49, 50, 51, 52, 53, 562, 54, 55, 56, 57, 58, 37, 59, 60, 61, 62, 63, 64, 504, 67, 68, 70, 71, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 121, 122, 116, 117, 118, 119, 120, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 550, 164, 165, 166, 167, 72, 168, 169, 170, 171, 172, 173, 175, 176, 177, 178, 179, 180, 181, 183, 182, 184, 559, 185, 191, 192, 186, 187, 188, 189, 190, 206, 193, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 207, 208, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 248, 250, 251, 252, 253, 254, 255, 256, 249, 566, 257, 258, 259, 260, 261, 262, 264, 265, 263, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 278, 279, 281, 282, 283, 284, 285, 286, 287, 288, 36, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 305, 304, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 337, 339, 340, 335, 336, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 534, 535, 536, 58, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 74, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 569, 388, 389, 390, 391, 392, 393, 47, 394, 395, 399, 400, 404, 406, 407, 401, 402, 403, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 396, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 459, 460, 458, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 66, 480, 481, 482, 483, 484, 485, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 506, 507, 508, 509, 505, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 530, 531, 532, 533, 526, 527, 528, 529, 537, 538, 539, 31, 541, 542, 543, 544, 545, 546, 547, 548, 551, 552, 553, 554, 555, 557, 558, 405, 338, 540, 334, 565, 560, 277, 280, 486, 561, 563, 564, 567, 568, 570, 1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 80, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 99, 29, 45, 46, 48, 50, 49, 51, 52, 53, 54, 55, 56, 58, 59, 38, 31, 32, 33, 34, 14, 36, 38, 39, 40, 41, 42, 43, 44, 60, 62, 63, 64, 65, 68, 57, 69, 70, 71, 73, 150, 74, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 93, 94, 118, 96, 97, 98, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 112, 113, 114, 115, 116, 117, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 179, 177, 178, 180, 181, 182, 183, 184, 185, 186, 34, 188, 189, 190, 191, 192, 193, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 212, 213, 214, 215, 216, 217, 1, 3, 4, 5, 6, 11, 7, 8, 9, 10, 12, 13, 2, 14, 15, 17, 10, 1, 2, 3, 6, 4, 11, 8, 9, 1, 2, 3, 4, 53, 2, 6, 7, 8, 9, 15, 10, 11, 13, 16, 58, 17, 18, 20, 57, 21, 38, 24, 25, 26, 27, 28, 29, 30, 34, 32, 33, 35, 36, 37, 38, 39, 40, 12, 41, 42, 43, 44, 45, 56, 46, 47, 48, 49, 50, 52, 54, 1, 2, 3, 7, 4, 5, 6, 10, 8, 9, 11, 12, 13, 18, 15, 16, 17, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 70, 28, 29, 30, 31, 32, 33, 34, 35, 21, 39, 40, 41, 42, 115, 44, 45, 46, 47, 48, 49, 52, 53, 72, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 3, 4, 5, 8, 9, 10, 21, 12, 13, 15, 17, 19, 20, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 37, 38, 39, 40, 43, 22, 1, 2, 5, 3, 4, 6, 10, 18, 8, 9, 7, 12, 13, 14, 15, 16, 48, 17, 11, 21, 23, 24, 41, 49, 50, 51, 52, 53, 54, 55, 25, 20, 56, 57, 58, 59, 26, 60, 28, 19, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 42, 43, 44, 37, 3, 5, 6, 204, 160, 8, 9, 10, 11, 12, 14, 15, 17, 19, 20, 22, 23, 25, 26, 28, 29, 7, 30, 208, 31, 157, 32, 33, 34, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 205, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 80, 82, 81, 84, 85, 86, 88, 89, 90, 91, 169, 94, 95, 16, 127, 96, 61, 107, 132, 97, 99, 100, 101, 102, 103, 104, 105, 106, 109, 110, 111, 206, 112, 113, 13, 114, 116, 117, 118, 119, 120, 121, 122, 37, 124, 126, 125, 128, 129, 130, 131, 133, 134, 135, 136, 138, 139, 140, 141, 142, 211, 212, 143, 144, 146, 145, 147, 148, 149, 150, 151, 152, 153, 154, 155, 210, 156, 158, 159, 161, 162, 163, 164, 165, 166, 170, 171, 172, 173, 175, 180, 176, 177, 178, 179, 181, 182, 24, 183, 184, 185, 187, 188, 207, 190, 191, 209, 192, 193, 194, 87, 92, 196, 197, 200, 201, 202, 203, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 16, 17, 18, 19, 21, 20, 22, 23, 24, 13, 14, 15, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 1, 2, 3, 5, 6, 9, 7, 15, 41, 10, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 25, 26, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 58, 42, 43, 44, 45, 46, 47, 48, 57, 11, 49, 50, 51, 52, 53, 55, 56]

In [82]:

# Endpoint
url = "https://nube.siap.gob.mx/avance_agricola/"

payload = {'xajax': 'reporte', # Para obtener la tabla
'xajaxr': '1696449941927', # Timestamp UNIX
'xajaxargs[]': [
    '1', # 1: Desglose por estados, 2: Cultivo total
    str(2022), # Anio
    '5', # ID Ciclo
    '3', # ID Modalidad
    '26', # ID Estado (0: Nacional)
    '--',
    '--',
    '7', # ID Cultivo
    '200201',
    '0',
    '0', # 1: Por municipio
    'undefined',
    'undefined',
    'undefined',
    str(4) # Valor del mes: va de 1 a 8, con 1 siendo Enero y 8 Agosto
    ]
}

headers = {
  'Cookie': 'PHPSESSID=45ri2k73cbp2iptcrufu88p360'
}

# Hacemos el request
response = requests.request("POST", url, headers=headers, data=payload, verify=False)
response.encoding='ISO-8859-1'

In [83]:
response.text

'<?xml version="1.0" encoding="iso-8859-1" ?><xjx><cmd n="as" t="Resultado" p="innerHTML"><![CDATA[\r\n\t\t\t<div class="titulosTabla">\r\n\t\t\t\t<p>\r\n\t\t\t\t\t<strong>A&ntilde;o agr&iacute;cola:</strong> 2022<br />\r\n\t\t\t\t\t<strong>Producci&oacute;n Agr&iacute;cola</strong><br />\r\n\t\t\t\t\t<strong>Ciclo:</strong> Ciclicos - Perennes<br />\r\n\t\t\t\t\t<strong>Modalidad:</strong> Riego + Temporal<br />\r\n\t\t\t\t\t<strong>Cultivo:</strong> Aguacate (ton)     <br /><strong>Entidad Federativa:</strong> Sonora<br />\r\n\t\t\t\t\tSituaci&oacute;n al 30 de abril de 2022<br />\r\n\t\t\t\t</p>\r\n\t\t\t</div>\r\n\t\t\t\r\n\t\t\t<table id="Resultados-reporte" class="table table-striped table-responsive table-bordered " border="1">\r\n\t\t\t\t<tr class="estiloResult">\r\n\t\t\t\t\t<th rowspan="2">&nbsp;</th>\r\n\t\t\t\t\t<th rowspan="2">Entidad</th>\r\n\t\t\t\t\t<th rowspan="2">Distrito</th>\r\n\t\t\t\t\t<th colspan="3">Superficie<br />(ha)</th>\r\n\t\t\t\t\t<th rowspan="2">Producci&oacute;n</th><th rowspan="2">Rendimiento<br />(udm/ha)</th><!--th rowspan="2">PMR<br />($/udm)</th-->\r\n\t\t\t\t\t<!--th rowspan="2">Valor Producci&oacute;n<br />(miles de Pesos)</th-->\r\n\t\t\t\t</tr>\r\n\t\t\t\t<tr class="estiloResult">\r\n\t\t\t\t\t<th>Sembrada</th>\r\n\t\t\t\t\t<th>Cosechada</th>\r\n\t\t\t\t\t<th>Siniestrada</th>\r\n\t\t\t\t</tr>\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td>1</td>\r\n\t\t\t\t\t<td>Sonora</td><td>Hermosillo</td>\r\n\t\t\t\t\t<td class="tdNum">7.80</td>\r\n\t\t\t\t\t<td class="tdNum">0.00</td><td class="tdNum">0.00</td>\t\t\t\t\t\r\n\t\t\t\t\t<td class="tdNum">0.00</td><td class="tdNum">0</td>\r\n\t\t\t\t\t<!--td class="tdNum">0.00</td-->\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td>2</td>\r\n\t\t\t\t\t<td>Sonora</td><td>Cajeme</td>\r\n\t\t\t\t\t<td class="tdNum">381.00</td>\r\n\t\t\t\t\t<td class="tdNum">0.00</td><td class="tdNum">0.00</td>\t\t\t\t\t\r\n\t\t\t\t\t<td class="tdNum">0.00</td><td class="tdNum">0</td>\r\n\t\t\t\t\t<!--td class="tdNum">0.00</td-->\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td>3</td>\r\n\t\t\t\t\t<td>Sonora</td><td>Navojoa</td>\r\n\t\t\t\t\t<td class="tdNum">30.00</td>\r\n\t\t\t\t\t<td class="tdNum">0.00</td><td class="tdNum">0.00</td>\t\t\t\t\t\r\n\t\t\t\t\t<td class="tdNum">0.00</td><td class="tdNum">0</td>\r\n\t\t\t\t\t<!--td class="tdNum">0.00</td-->\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr><th colspan="3">Total</th>\r\n\t\t\t\t<th class="tdNum">418.80</th>\r\n\t\t\t\t<th class="tdNum">0.00</th><th class="tdNum">0.00</th>\t\t\t\t\r\n\t\t\t\t\t<th class="tdNum">0.00</th><th class="tdNum">0</th>\r\n\t\t\t\t<!--th class="tdNum">0.00</th-->\r\n\t\t\t</tr>\r\n\t\t\t\r\n\t\t\t</table>]]></cmd><cmd n="js">stopLoad();</cmd></xjx>'